.productos {
max-width: 2000px;
margin: 0;
}
.productos {
padding: 10 0 80px 0;
text-align: center;
}

.productos-content  {
margin-top: 30px;
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 10px
}

.productos-1 {
background color:#5F9F9F;
padding: 20px;
}

.productos-1 h4{
color: #A8A8A8;
font-size: 30px;
margin-bottom: 5px;
}
.procuctos-1 p {
   color: blue;
   margin-bottom: 10px;
}












